.category-sets {
  padding: 2rem 0;
}

.category-set {
  @include boxShadow(0 0 10px rgba(0,0,0,0.3));
  @include transition($base-animation__speed all);

  background: $white;
  margin: 1vw;
  height: 160px;
  padding: 1rem;
  background-size: cover;
  position: relative;

  &:after {
    @include overlay($red, 0.9);
    @include transition($base-animation__speed opacity ease-in);
    
    z-index: 10;
  }

  &:hover {
    &:after {
      opacity: 0.4;
    }
  }
}

.category-set__content {
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 20;
}

.category-set__header {
  text-align: left;
}

.category-set__title {
  @include font-size(20px);

  font-family: 'Titillium Web';
  font-weight: 800;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.category-set__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
