.category-sets {
  padding: 2rem 0;
}

.category__set {
  @include transition($base-animation__speed all);
  @include scale(0.98);

  background: $white;
  margin: 1vw;
  background-size: cover;
  border: 1px solid darken($white, 10%);
  position: relative;

  @include breakpointLargerThan($breakpoint--large) {
    height: 300px;
  }

  &:hover {
    @include boxShadow(0 0 18px rgba(0,0,0,0.1));
    @include scale(1);

    top: 0;
    left: 0;

    .category__overlay {
      @include centerAll();

      display: block;
      position: absolute;
      top: 40%;
      z-index: 300;
    }

    &:after {
      @include overlay($white, 0.9);

      z-index: 100;
    }
  }
}

.category__content {
  padding: 1rem 2rem;
}

.category__status {
  @include font-size(11px);
  @include cf();

  font-family: 'Proxima-Bold', arial;
  text-transform: uppercase;
  color: $grey--medium;
  position: relative;
  margin-bottom: 1rem;
}

.category__favorites {
  float: left;
}

.category__message {
  float: right;
}

.category__logo {
  width: 100%;
}

.category__progress {
  position: relative;
  width: 100%;
  z-index: 20;
}

.category__details {
  background: $grey--light;
  border-top: 1px solid darken($white, 10%);
  border-position: outside;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  z-index: 200;
}

.category__title {
  color: $black;
  text-transform: capitalize;
  font-family: 'Proxima-Semibold', arial;
  display: block;
}

.category__release-date {
  @include font-size(12px);

  color: $grey;
  display: block;
}

.category__overlay {
  display: none;
}
