.header {
  @include cf();

  background: $black;
  padding: 1rem;
}

.header-logo {
  width: 140px;
  height: 40px;

  float: left;
}

.header-profile {
  float: right;
  position: relative;

  &.highlight {
    .header-profile__dropdown-menu {
      @include boxShadow(0 0 10px rgba(0,0,0,0.7));
      @include centerVertical();

      display: block;
      position: absolute;
      background: $white;
      top: 60px;
      padding: 20px;
      width: 180px;

      &:before {
        @include arrowUp(10px, $white);
        @include centerVertical();

        content: "";
        display: block;
        position: absolute;
        top: -10px;
      }
    }
  }
}

.header-profile__img--wrapper {
  @include borderRadius(99px);

  float: left;
  width: 43px;
  height: 43px;
  overflow: hidden;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.header-profile__display-name {
  display: block;
  padding: .5rem 0;
}

.header-profile__btn {
  @include font-size(10px);

  background: $yellow;
  padding: .5rem 1rem;
  transition: .15s all ease-in;
}

.header-login__btn:hover {
  background: darken($yellow, 10%);
}

//dropdown menu

.header-profile__dropdown-menu {
  display: none;
}
