.bar {
  background: darken($white, 5%);
  height: 25px;
  width: 100%;
  position: relative;
  z-index: 5;
}

.bar-progress {
  background: $green;
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 10;
  transition: width $base-animation__speed;

  &.yellow {
    background: $yellow;
  }
  &.green {
    background: $green;
  }
  &.red {
    background: $red;
  }
}

.bar-progress__count {
  @include font-size(16px);
  @include centerAll();

  opacity: 0.5;
  font-family: 'Proxima-Bold';
  position: absolute;
  z-index: 20;
}
