.set-cards {
  padding: 2rem 0;
}

.set-card {
  @include boxShadow(0 0 10px rgba(0,0,0,0.3));
  @include transition($base-animation__speed all);

  background: $white;
  margin: 1vw;
  padding: 1rem;
  height: 370px;

  @include breakpointLargerThan($breakpoint--medium) {
    @include scale(0.9);

    opacity: 0.9;

    &:hover {
      @include scale(1);

      opacity: 1;
    }
  }
}

.set-card__content {
  text-align: center;
  height: 100%;
  position: relative;
}

.set-card__header {
  display: block;
  padding-bottom: 1rem;
}

.set-card__progress {
  position: relative;
}

.set-card__count {
  @include centerAll();
  @include font-size(2vw, 20px);

  color: $grey--light;
  position: absolute;
}

.set-card__btn {
  @include centerVertical();

  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
}
