// primary

$black: #272727;
$red: #EF4646;
$white: #FFFFFF;
$grey: #646464;
$grey--light: #d3d3d3;
$blue: #306CAB;
$yellow: #F9CE01;
$orange: #F38602;
$green: #99cc33;

// branding
$ca-dark-blue: #403f4c;
$ca-red: #e74f37;

$wild-sand: #F5F5F5;
$tundora: #4E4E4E;
