///////////////////////////////
/// BREAKPOINTS
///////////////////////////////

$breakpoint--small: 480px;
$breakpoint--medium: 768px;
$breakpoint--large: 970px;
$breakpoint--xlarge: 1200px;

///////////////////////////////
/// BASE
///////////////////////////////

$base-font__family--serif: 'Arvo', 'Times New Roman', serif;
$base-font__family--sans-serif: 'Proxima';
$base-font__size: 16px;
$base-line-height: 1.5;
$base-color--primary: $blue;
$base-color--secondary: $orange;
$base-color--triad: $yellow;

///////////////////////////////
/// PATHS
///////////////////////////////
$img-path: '../img/';

///////////////////////////////
/// BORDERS
///////////////////////////////

$base-border__radius: 5px;

///////////////////////////////
/// HEADERS
///////////////////////////////

// header
$header-main__height: 75px;
$header-main__bg-color: $white;

///////////////////////////////
/// BUTTONS
///////////////////////////////

$btn__font-size: $base-font__size;
$btn__border-radius: $base-border__radius;
$btn__padding: 1.5vw;
$btn-primary__background: $base-color--primary;
$btn-primary__color: $white;
$btn-secondary__background: $base-color--secondary;
$btn-secondary__color: $white;
$btn-border__width: 2px;

///////////////////////////////
/// ANIMATIONS
///////////////////////////////

$base-animation__speed: 200ms;

///////////////////////////////
/// NAV
///////////////////////////////

$nav-mobile__background: $black;
$nav-desktop__background: $base-color--triad;
$nav-bars__color: $white;
$nav-bars__color--hover: $nav-desktop__background;
$nav-bars__height: 3px;
$nav-bars__width: 20px;
$nav-bars__border-radius: 1px;

///////////////////////////////
/// SLICK SLIDER DEFAULTS
///////////////////////////////

$slider-heading__width: 55%;
$slider__height--small: 225px;
$slider__height--large: 425px;
$slider__height--xlarge: 500px;
$slider__margin-bottom: 5rem;
$slider-dots__color--inactive: $black;
$slider-dots__color--active: blue;
