<div class="category__set" ng-class="set.slug">
  <div class="category__content">
    <div class="category__status">
      <div class="category__favorites"><i class="fa fa-user"></i>1</div>
      <div class="category__message">new</div>
    </div>
    <img class="category__logo" src="http://assets.pokemon.com/assets/cms2/img/trading-card-game/series/xy_series/xy02/xy02-logo-169-en.png" alt="flashfire">
    <div class="category__progress" ng-repeat="userSet in categorySet.userSets" ng-if="userSet.$id === set.slug" ng-model="banjo">
      <progress-bar current-count="categorySet.countCards(userSet.cards)" total-count="set.numberofcards"></progress-bar>
    </div>
    <div class="category__overlay">
      <a class="btn-solid--primary category__btn" ui-sref="app.set({ setSlug: set.slug, setId: set.id })">
        go to set
      </a>
    </div>
  </div>
  <div class="category__details">
    <span class="category__title">{{ set.name }}</span>
    <span class="category__release-date">Released {{ set.releasedate }}</span>
  </div>
</div>
