<header class="header">
  <img class="header-logo" src="http://www.placehold.it/500x400" alt="logo">
  <div class="nav" ui-view="nav"></div>
  <div class="header-profile" ng-if="user" ng-class="{'profile-is-open': app.profileOpen}">
    <div class="header-profile__dropdown-menu">
      <div class="header-profile__dropdown-content">
        <span class="header-profile__display-name">{{ user.displayName }}</span>
        <button class="header-profile__btn btn-solid--primary" ng-show="user" ng-click="app.logout()">logout</button>
      </div>
    </div>
    <nav-profile ng-click="profile.toggleProfile"></nav-profile>
  </div>
</header>
