<div class="set-card">
  <div class="set-card__content">
    <div class="set-card__progress" ng-repeat="userSet in setCard.userSets" ng-if="userSet.$id === set.slug">
      <div class="bar">
        <progress-bar current-count="setCard.countCards(userSet.cards)" total-count="set.numberofcards"></progress-bar>
      </div>
      <small class="set-card__count">{{ setCard.countCards(userSet.cards) }} / {{ set.numberofcards }}</small>
    </div>
    <button class="set-card__btn btn-solid--primary" ui-sref="app.set({ setSlug: set.slug, setId: set.id })">go to set</button>
  </div>
</div>
