<h4>Setname: {{set.currentSet.name}}</h4>

<div ng-if="set.currentSet.name">
  <h4>cards available</h4>


  <ul>
    <li ng-repeat="card in set.currentSet.cards" style="margin: 10px 0;">
      {{card.cardnumber}} {{card.name}}
      <div ng-if="user">
        <!-- IF USER DOES NOT HAVE CARD -->
        <button ng-show="!card.hasCard && user" ng-click="set.setsService.addCardToUser(set.currentSet, user, card)">Add Card</button>
      </div>

      <!-- IF USER HAS CARD -->
      <div
        ng-repeat="userCard in set.userCards"
        ng-if="card.cardnumber === userCard.cardnumber"
        ng-init="userCard.qty >= 1 ? card.hasCard = true : card.hasCard = false"
      >
          <input class="" placeholder="{{ userCard.qty }}" type="text" ng-model="updatedQty" ng-value="focused ? null : null" ng-keypress="set.updateQty($event, set.currentSet, user, userCard, updatedQty)" ng-focus="focused = true">
          <button ng-click="set.setsService.removeUserCard(set.currentSet, user, userCard); userCard.qty >= 1 ? card.hasCard = true : card.hasCard = false">-</button>
          <button ng-click="set.setsService.addCardToUser(set.currentSet, user, card, userCard); userCard.qty >= 1 ? card.hasCard = true : card.hasCard = false">+</button>
      </div>
      <!-- END IF -->

    </li>
  </ul>
</div>
<div ng-if="!set.currentSet.name">
  <h2>click a set to continue!</h2>
</div>

<!-- USER LOGGED IN -->
